.chair {
    max-width: 240px;
    margin-left: auto;
    margin-right: auto;
    &-img__container {
        display: flex;
        
        box-sizing: content-box;
        width: 240px;
       height: 240px;
        & > img {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 0 auto;
            width: 100%;
            object-fit: contain;
        }
    }
    &__title {
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 14px;
        color: #000000;
    }
    &__price {
        color: #57646E;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 800;
        font-size: 30px;
        margin: 10px 0 15px;
    }
    &__currency {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
    }
    &__button {
        border: none;
        border-radius: 3px;
        background-color: #007042;
        color: #fff;
        padding: 10px 15px 10px 20px;
        text-align: center;
        align-items: center;
        display: flex;
        margin-bottom: 40px;
        font-weight: 700;
        font-size: 14px;
        font-family: 'Open Sans';
        cursor: pointer;
        & > img {
            margin-left: 10px;
        }
    }
}

