.rootCard {
    
    margin: 15px;
    max-width: 272px;
    width: 282px;
    height: 300px;
    background: red;
<<<<<<< HEAD
}
=======
}

.card-box::-webkit-scrollbar {
 
    width: 0;
    height: 1px;
}
>>>>>>> 86d0924afd98915f589a29dcd7b3e6cdc65cacfb
