.Checkout-block {
    margin-top: 80px;
    margin-left: 120px;

    .checkout-contact {
        .text-confirm {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 30px;
            color: #2E3438;
            margin-bottom: 19px;
        }

        .text-warn {
            font-family: 'Open Sans';
            font-weight: 400;
            font-size: 16px;
            line-height: 160%;
            color: #000;
            margin-bottom: 20px;
        }

        .checkout-contact-fileds {
            .contact-info {
                font-family: 'Open Sans';
                font-weight: 700;
                font-size: 20px;
                color: #000;
                margin-bottom: -20px;
            }

            .input-fields {
                padding-top: 40px;

                .text-title-field {
                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    padding: 20px 0px 20px 0px;
                    color: #000;
                }
                
                .input-field-contact {
                    width: 32vw;
                    height: 44px;
                    max-width: 40vw;
                    background: #FFFFFF;
                    box-sizing: border-box;
                    border: 1px solid #A0A9AF;
                    border-radius: 2px;
                    padding-left: 15px;
                    margin-top: -15px;
                    margin-bottom: 8px;
                    outline: none;
                }
            }
        }    
    }

    .checkout-delivery {
        .checkout-delivery-fileds {
            .text-delivery {
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                color: #000;
                margin-top: 26px;
            }

            .field-required {
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                margin-top: 30px;
                margin-bottom: 81px;
                color: #000;
            }
        }
    }
}

.tabs {
    font-size: 0;

    .text-title-block {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #000;
        margin-top: 12px;
        margin-left: -8px;
        margin-bottom: 23px;
    }
}

.tabs-2 {
    font-size: 0;

    .text-title-block {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #000;
        margin-top: 12px;
        margin-left: 1px;
        margin-bottom: 23px;
    }
}

.tabs>input[type="radio"] {
    width: 16.9px;
    height: 16.9px;
    cursor: pointer;
    margin-right: 5px;
}

.tabs-2>input[type="radio"] {
    width: 16.9px;
    height: 16.9px;
    cursor: pointer;
    margin-right: 10px;
}

#delivery {
    display: inline-block;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #000;
}

#pay-select {
    display: inline-block;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #000;
    cursor: pointer;
}

#tab-btn-1 {
    margin-left: 1px;
}

#tab-btn-3 {
    margin-left: 1px;
}

.tabs>div {
    display: none;
    padding: 25px 0px;
    font-size: 16px;
}

  #tab-btn-1:checked~#content-1,
  #tab-btn-2:checked~#content-2,
  #tab-btn-3:checked~#content-3,
  #tab-btn-4:checked~#content-4 {
    display: block;
}

.tabs>label {
    text-align: center;
    padding: 2px 8px;
    font-size: 16px;
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
    cursor: pointer;
    position: relative;
    top: 1px;
}

.tabs>label:not(:first-of-type) {
    border-left: none;
}

.tabs>input[type="radio"]:checked+label {
    background-color: #fff;
    border-bottom: 1px solid #fff;
}

#content-1 {
    .adress-block {
        .adress {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            color: #000;
        }

        .adress-input {
            width: 486px;
            height: 44px;
            background: #FFFFFF;
            border: 1px solid #A0A9AF;
            box-sizing: border-box;
            border-radius: 2px;
            padding-left: 17px;
            outline: none;
            color: #9EA6B2;
            margin-top: 7px;
        }
    }
}

#content-2 {
    .point-delivery {
        #select-delivery {
            height: 82px;
            background: #FFFFFF;
            border: 1px solid #A0A9AF;
            border-radius: 2px;
            padding: 19px;
            margin-top: 7px;
        }
    }
}