.button-sort{
  display: flex;
  
}


.button-of-filter{
  padding: 10px 20px;

  background: #007042;
  border-radius: 2px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #FFF;
  margin: 0px 10px;
  font-weight: 700;
  font-size: 14px;
}
