.container{
    padding-left: 70px;
    padding-right: 70px;
}

.title_about_us{
    font-size: 3rem;
    text-align: center
}
.text{
    font-size: inherit;
    line-height: 1.34;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: justify;
}

.title_about{
    font-size: 26px;
    text-align: center
}

.img3{
    width: 100%;
}
.about-us{
    padding: 50px 0;
}

.images{
    display: flex;
    justify-content: center;
}

                        .img{
    width: 400px;
                        }